.Blog{
   position:fixed;
   right:-2rem;
   background: var(--color-primary-variant);
   transform: rotate(90deg);
   padding-left: 2rem;
   padding-right: 2rem;
   font-size: 1.5rem;
   top:50%;
   color:var(--color-white);
   letter-spacing: 0.5rem;
   z-index: 3;
}