#root {
   width: 100%;
}

.timeline__container {
   display: flex;
   flex-direction: column;
   position: relative;
   margin-top: 5rem;
}

.timeline__container::after {
   background: var(--color-primary);
   content: '';
   position: absolute;
   left: calc(50%);
   transform: translateX(-50%);
   width: 0.25rem;
   height: 100%;
}

.timeline__item {
   /* background: var(--color-bg); */
   display: flex;
   justify-content: flex-end;
   padding-right: 3rem;
   margin: 0.625rem 0;
   width: 50%;

}

.timeline__item:nth-child(even) {
   align-self: flex-end;
   justify-content: flex-start;
   padding-left: 3rem;
   padding-right: 0;
}

.timeline__item-content {
   /* max-width: 70%; */
   background: var(--color-bg-variant);
   border-radius: 0.3125rem;
   border-radius: 1.5rem;
   width: 25rem;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   gap: 0.3rem;
   position: relative;
   text-align: right;
   padding: 1rem;
   box-shadow: 0 2.4rem 4.8rem rgba(108, 6, 6, 0.4);
}

.timeline__item:nth-child(even) .timeline__item-content {
   align-items: flex-start;
   text-align: start;
}

.timeline__item-content ul {
   display: flex;
   flex-direction: row-reverse;
   justify-content: flex-start;
   align-items: center;
   column-gap: 0.5rem;
   flex-wrap: wrap;
   font-size: 0.8rem;
}

.timeline__item:nth-child(even) .timeline__item-content ul {
   flex-direction: row;
}

.timeline__item-content::after {
   content: '';
   background: var(--color-bg-variant);
   width: 1.5rem;
   transform: rotate(45deg);
   position: absolute;
   right: -0.8rem;
   top: calc(50% - 0.75rem);
   height: 1.5rem;
   box-shadow: 0 2.4rem 4.8rem rgba(108, 6, 6, 0.4);
}

.timeline__item:nth-child(even) .timeline__item-content::after {
   right: auto;
   left: -0.8rem;
}

.timeline__item-content-head {
   display: flex;
   /* gap:3rem; */
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
}

.timeline__item:nth-child(even) .timeline__item-content-head {
   flex-direction: row-reverse;
}

.timeline__item-content-head .tag {
   font-size: 1.5rem;
   padding: 0.3125rem;
   font-weight: 400;
   letter-spacing: 0.1rem;
}

/* .timeline__item-content .tag{
   position: absolute;
   top:0.3125rem;
   left:0.3125rem;
   text-transform: uppercase;
   font-size: 1.5rem;
   padding:0.3125rem;
   font-weight: 400;
   letter-spacing: 0.1rem;
} */

.timeline__item:nth-child(even) .timeline__item-content .tag {
   left: auto;
   right: 0.3125rem;
}

.timeline__item-content time {
   font-size: 0.5rem;
}

.timeline__item-content small {
   align-self: flex-start;
   margin-top: 2rem;
}

.timeline__item:nth-child(even) .timeline__item-content small {
   align-self: flex-end;
}

.timeline__item-content .circle {
   width: 2.5rem;
   height: 2.5rem;
   border: 3px solid var(--color-primary);
   position: absolute;
   background: var(--color-bg-variant);
   top: calc(50% - 1.25rem);
   /* transform: translateY(-100%); */
   right: -4.25rem;
   border-radius: 50%;
   z-index: 1;
   display: flex;
   align-items: center;
}
.timeline__item-content .circle img{
   border-radius: 50%;
}

.timeline__item:nth-child(even) .timeline__item-content .circle {
   right: auto;
   left: -4.25rem;
}

@media screen and (max-width:750px) {
   /* .timeline__item-content {
      text-align: center;
      align-items: center;
   }
   .timeline__item:nth-child(even) .timeline__item-content {
      text-align: center;
      align-items: center;
   } */

   .timeline__item-content small {
      align-self: center;
   }

   .timeline__item:nth-child(even) .timeline__item-content small {
      align-self: center;
   }

   .timeline__item-content-head {
      flex-direction: column;
      align-items: baseline;
   }

   .timeline__item:nth-child(even) .timeline__item-content-head {
      flex-direction: column;
      align-items: flex-end;
   }

   .timeline__item-content h2 {
      margin-top: 1.5rem;
   }
}

@media screen and (max-width:425px) {
   .timeline__item-content {
      text-align: center;
      align-items: center;
   }
   .timeline__item:nth-child(even) .timeline__item-content {
      text-align: center;
      align-items: center;
   }

  .timeline__item-content .tag {
      font-size: 1rem;
  }
   .timeline__item:nth-child(even) .timeline__item-content .tag {
      font-size: 1rem;
  }

   .timeline__item-content small {
      align-self: center;
      font-size: 0.1rem;
   }
   .timeline__item:nth-child(even) .timeline__item-content small{
      align-self: center;
      font-size: 0.1rem;
   }

   .timeline__item-content-head {
      flex-direction: column;
      align-items:center;
   }

   .timeline__item:nth-child(even) .timeline__item-content-head {
      flex-direction: column;
      align-items: center;
   }

   .timeline__item-content h2 {
      margin-top: 1.5rem;
      font-size: 0.9rem;
   }

   .timeline__item-content ul {
      justify-content: center;
      font-size: 0.2rem;

   }
}