@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-brand{
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: larger;
}

.imageBrand{
   margin-top: 150px;
}
.imageBrand img{
   height: 30%;
   width:30%;
   border:4px solid rgb(130, 106, 237);
   border-radius: 50%;
  box-shadow: #d7b3f1;
}

section{
   min-height:100vh;
   width:100vw;
    display: flex;
    color:rgb(155, 114, 244);
}
.brand{
   font-size: 3rem;
}
.Typewriter{
   font-size: xx-large;
}
.container{
   height:80%;
   text-align: center;

}



.start-about{
   margin-top:50px;
}
.box{
   display:flex;
   flex-direction: row;
   margin-top: 50px;
}

.font-weight-bold{
   font-size: 50px;
            background: linear-gradient(to left,
                    violet,
                    indigo,
                    blue,
                    green,
                    yellow,
                    orange,
                    red);
            -webkit-background-clip: text;
            color: transparent;
}
.box-welcome{
   text-align: left;
   font-size: 3rem;
}
.box-bar-header{
   font-size: 3rem;
   font-family: 'Ubuntu', sans-serif;
}
.box-bar-1{
   font-size: x-large;
   font-weight: bolder;
   text-align: left;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-bar-2{
   font-size: x-large;
   font-weight: bolder;
   text-align: left;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box-bar-3{
   font-size: x-large;
   font-weight: bolder;
   text-align: left;
   font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.events{
   top: 50% !important;;
}

.tech-stack-heading{
   display:flex;
   justify-content: center;
}
.font-weight-bold-techstack{
   font-size: 50px;
            background: linear-gradient(to top,
                    rgb(239, 243, 7),
                    rgb(119, 233, 243),
                    rgb(193, 66, 240),
                    rgb(2, 104, 24),
                    rgb(176, 116, 4));
            -webkit-background-clip: text;
            color: transparent;
     border: 2px solid whitesmoke;
     border-radius: 50px;

     width:30%;

}
.techstack-maincontent1{
   margin-top: 50px;
}

.col{
   text-align: left;
}
.col:hover{
   background-color: hsl(240, 1%, 22%);
}



/* -----------------------------Footer design starts---------------------------- */
 .container-1{
    width:100vw;

    background-color:rgb(245, 245, 245,0.5);
    display:flex;
    flex-direction: column;
    padding:20px;
    justify-content: center;
    align-items:center;

    z-index:-1;
 }
 .local{
    display:flex;

    flex-direction:column;
    width:100%;

 }
 .social_media{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:30px;
    width:100%;
 }
 .social_media span{
    font-weight:bold;
    font-size:xx-large;
    color:rgb(185, 144, 250);;
 }
 .text2{
    display:flex;
    width:100%;
    height:100px;

    align-items:center;
    justify-content: center;
    margin-bottom:20px;
    text-align: center;
    margin-top: 10px;
 }
 .text2 a{
    width:100px;
 }
.text2 a i{
   width:100px;
   cursor:pointer;
}
.text2 a i:hover{

    font-size: 70px !important;

 }
 .personal_info{
    border:3px solid black;
     border-radius: 50%;
     height:460px;
     width:460px;
     background-color: rgb(184, 143, 250);
     text-align: center;
     margin-left: 35%;
 }
 .info{
   display:flex;
   flex-direction: column;
    justify-content: center;
   align-items: center;
   height:100%;
   width:100%;

   padding-left:30px;
   padding-right:30px;
   margin-top:20px;
 }
 .info-a{
   padding-left:20px;
   padding-right:20px;
 }
 .info-a p{
    flex-wrap:wrap;

    font-weight:bold;
    font-family: 'Ubuntu Mono', monospace;


 }
 .btn-sm{
    margin-top:10px;

    background-color:  rgb(91, 33, 182);
    padding:10px;
    border-radius:10px;
    cursor:pointer;
 }
 .btn-sm a{
     color:white;
     text-decoration: none;
     font-weight: bolder;

 }
  .btn-sm:hover ,.btn-sm:hover a{
    background-color: rgb(249, 250, 187);
    color:rgb(91, 33, 182);
 }

 .subscribe{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    cursor:pointer;
 }
 .subscribe p{
   font-family: 'Yuji Hentaigana Akebono', cursive;
   font-weight: bold;
 }
 .sub{
    width:40%;

    padding:20px;
    border-radius:30px;
    background-color: red;
 }
.sub{
   font-size:x-large;
}
.sub:hover a{
   color:red;
}
.address{
   display:flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
.address span{
   font-size: xx-large;
   color:rgb(110, 53, 202);

}
.address p{
   font-size:x-large;
   margin-top: 20px;
}

/*---------------------------  footer designing code ends ----------------------- */

@media screen and (min-width:250px) and  (max-width:300px){
   .container{
      flex-wrap: wrap;

   }
   .box-content{
      height:280px;
   }
   .personal_info{
      height:500px;
      width:250px;
      padding:0%;
      border-radius:50%;
      margin-left:-1%;
   }
   .info-a p{
       font-size:smaller;
    }

    .sub{
      width: fit-content;
      height: fit-content;
      margin-top: -10px;
      font-size: inherit;
      padding:10px;
    }
    .social_media{
       width:100%;
    }
    .address{
      flex-wrap: wrap;
   }
    .address span{
       width:50%;
    }

}

@media screen and (min-width:300px) and  (max-width:350px){
   .container{
      flex-wrap: wrap;

   }
   .box-content{
      height:280px;
   }
   .personal_info{
      height:500px;
      width:300px;
      padding:0%;
      border-radius:50%;
      margin-left:-1%;
   }
   .info-a p{
       font-size:smaller;
    }

    .sub{
      width: fit-content;
      height: fit-content;
      margin-top: -10px;
      font-size: inherit;
      padding:10px;
    }
    .social_media{
       width:100%;
    }
    .address{
      flex-wrap: wrap;
   }
    .address span{
       width:50%;
    }

}

@media screen and (min-width:350px) and  (max-width:400px){
   .container{
      flex-wrap: wrap;

   }
   .box-content{
      height:280px;
   }
   .personal_info{
      height:500px;
      width:300px;
      padding:0%;
      border-radius:50%;
      margin-left: 5%;
   }
   .info-a p{
       font-size:smaller;
    }

    .sub{
      width: fit-content;
      height: fit-content;
      margin-top: -10px;
      font-size: inherit;
      padding:10px;
    }
    .social_media{
       width:100%;
    }
    .address{
      flex-wrap: wrap;
   }
    .address span{
       width:50%;
    }

}

@media screen and (min-width:400px) and  (max-width:449px){
   .container{
      flex-wrap: wrap;

   }
   .box-content{
      height:280px;
   }
   .personal_info{
      height:500px;
      width:320px;
      padding:0%;
      border-radius:50%;
      margin-left: 10%;
   }
   .info-a p{
       font-size:smaller;
    }

    .sub{
      width: fit-content;
      height: fit-content;
      margin-top: -10px;
      font-size: inherit;
      padding:10px;
    }
    .social_media{
       width:100%;
    }
    .address{
       flex-wrap: wrap;
    }
    .address span{
       width:50%;
    }

}

@media screen and (min-width:449px) and  (max-width:499px){
   .container{
      flex-wrap: wrap;

   }
   .box-content{
      height:280px;
   }
   .personal_info{
      height:500px;
      width:320px;
      padding:0%;
      border-radius:50%;
      margin-left: 18%;
   }
   .info-a p{
       font-size:smaller;
    }

    .sub{
      width: fit-content;
      height: fit-content;
      margin-top: -10px;
      font-size: inherit;
      padding:10px;
    }
    .social_media{
       width:100%;
    }
    .address span{
       width:50%;
    }

}

@media screen and (min-width:500px) and  (max-width:600px){
   .container{
      flex-wrap: wrap;

   }
   .box-content{
      height:280px;
   }
   .personal_info{
      height:500px;
      width:320px;
      padding:0%;
      border-radius:50%;
      margin-left: 18%;
   }
   .info-a p{
       font-size:smaller;
    }

    .sub{
      width: fit-content;
      height: fit-content;
      margin-top: -10px;
      font-size: inherit;
      padding:10px;
    }
    .social_media{
       width:100%;
    }
    .address span{
       width:50%;
    }

}

@media screen and (min-width:600px) and  (max-width:699px) {
   .container{
      flex-wrap: wrap;

   }
   .box-content{
      height:280px;
   }
   .personal_info{
      height:500px;
      /* width:320px; */
      padding:0%;
      border-radius:50%;
      margin-left: 10%;
   }
   .info-a p{
       font-size:smaller;
    }
}

@media screen and (min-width:701px) and  (max-width:799px) {
   .container{
      flex-wrap: wrap;

   }
   .box-content{
      height:280px;
   }
   .personal_info{
      height:500px;
      /* width:320px; */
      padding:0%;
      border-radius:50%;
      margin-left: 10%;
   }
   .info-a p{
       font-size:smaller;
    }
}

@media screen and (min-width:801px) and  (max-width:899px) {
   .container{
      flex-wrap: wrap;

   }
   .box-content{
      height:280px;
   }
   .personal_info{
      height:500px;
      /* width:320px; */
      padding:0%;
      border-radius:50%;
      margin-left: 20%;
   }
   .info-a p{
       font-size:smaller;
    }
}

@media screen and (min-width: 900px){

   .local{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left:50px;
   }
   .address{
      width:100%;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

   }
   .social_media{
     align-items: flex-end;
     padding-right: 20px;
   }
   .text2 {
    justify-content: flex-end;
   }
}
@media  screen and (max-width:1200px) {
   .container{
      overflow: hidden;
   }
   .text2{
      flex-wrap: wrap;
   }
}

@media screen and (min-width:1400px) {
   .personal_info{
      margin-top:-450px;
      margin-left:35%;
      top:0px;
      bottom:-56%;
      position:relative;

   }
   .copyright{
      margin-top:calc(2%);
   }
   .text2 a{
      width:70px;
      height:70px;
   }
   .text2 a i{
      width:70px;
      height:70px;
   }
   .text2 a i:hover{
      width:60px !important;

   }


 }

